%h1 Sounds
%p Click on a sound to load its player. Reload the page to get new speakers!
- @sounds.each do |sound|
  = div_for sound, :class => 'clickable' do
    %h2= sound.name
    %div{:id => "sound_#{sound.id}_wrapper"} Loading the player
    = link_to 'Sound', sound.random_clip.attachment.url, :class => 'audio'

:javascript
  $(function(){
    $('.sound').one('click', function(){
      $(this).removeClass('clickable');
      var selector = this.id + '_wrapper';
      console.log(selector);
      jwplayer(selector).setup({
        flashplayer: '/swf/player.swf',
        file: $($(this).children('a.audio')).attr('href'),
        height: 24,
        controlbar: 'bottom',
        autostart: 'true',
        width: 300
      });
    });
  });

:css
  .clickable { cursor: pointer; }
