%h1 Sounds
- @sounds.each do |sound|
  = div_for sound do
    %h2= sound.name
    %div{:id => "sound_#{sound.id}_wrapper"} Loading the player
    = link_to 'Sound', sound.random_clip.attachment.url, :class => 'audio hidden'

:javascript
  $(function(){
    $('.sound').each(function(){
      var selector = this.id + '_wrapper';
      console.log(selector);
      jwplayer(selector).setup({
        flashplayer: '/swf/player.swf',
        file: $($(this).children('a.audio')).attr('href'),
        height: 24,
        controlbar: 'bottom',
        width: 300
      });
    });
  });
